@mixin flex-center() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Hanalei&family=Montserrat:wght@400;600;700;800&display=swap');
*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    --blue-color-900: #323944;
    --black-color-900: rgb(12, 12, 12);
    --black-color-100: rgba(32, 32, 32, 0.233);
    --white-color-600: #eeeeeeb6;
    --white-color-800: #eeeeee;
    --white-color-400: #dddddd;
    --white-color-300: #cccccc;
    --font-family: "Montserrat";
    --transition-time: 300ms;
    --transition-style: ease;
    color: var(--white-color-800);
    font-family: var(--font-family);
    overflow-x: hidden;
    min-height: 100vh;
}

.hero {
    height: 100vh;
    width: 100vw;
    background-color: var(--blue-color-900);
    display: flex;
    justify-content: center;
    align-items: center;
    &__heading {
        font-size: 6rem;
        color: var(--white-color-600);
        border: 4px dashed var(--white-color-600);
        letter-spacing: 1rem;
        padding: 1rem 2rem;
        font-family: "Hanalei";
    }
}

.subjects {
    display: grid;
    grid-template-columns: 300px;
    grid-auto-rows: 500px;
    padding: 2rem 1rem;
    grid-gap: 1.5rem;
    background: var(--blue-color-900);
    justify-content: center;
    &__subject {
        background: var(--blue-color-900);
        box-shadow: 0rem 0rem .5rem .5rem var(--black-color-100);
        border-radius: .5rem;
        padding: 1.5rem 0rem 1.5rem 3rem;
    }
    &__heading {
        font-size: 2.5rem;
        line-height: 2.5rem;
        font-weight: 800;
        color: var(--white-color-800);
        margin-bottom: 50px;
    }
    &__long-text {
        color: var(--white-color-300);
        line-height: 30px;
        width: 200px;
        margin-bottom: 50px;
        font-size: 16px;
        height: 205px;
    }
    strong {
        color: #eeeeee;
        font-weight: 600;
    }
    &__button {
        width: 9.5rem;
        padding: .5rem 0rem;
        display: inline-block;
        text-align: center;
        font-weight: 600;
        transition: background-color var(--transition-time) var(--transition-style), color var(--transition-time) var(--transition-style), border-color var(--transition-time) var(--transition-style);
        &:hover,
        &:focus {
            background-color: var(--black-color-900);
            color: var(--white-color-800);
            border-color: var(--black-color-900);
        }
    }
    &__notes-button {
        background-color: var(--white-color-800);
        color: var(--black-color-900);
        margin-bottom: 20px;
        list-style: none;
    }
    &__learn-more-button {
        border: 2px solid var(--white-color-800);
        color: var(--white-color-800);
    }
    &__list-items {
        margin: 1rem;
    }
    &__list-items--active {
        margin: 0;
    }
    &__links {
        color: var(--white-color-600);
    }
    &__note {
        position: absolute;
        left: 50%;
        transform: translateX(-43%);
        bottom: 0;
        color: rgba(255, 255, 255, 0.534);
        font-size: .6rem;
    }
}

.footer {
    width: 100vw;
    min-height: 4rem;
    @include flex-center();
    background-color: var(--black-color-900);
    position: relative;
    &__list {
        list-style-type: none;
        @include flex-center();
    }
    &__list-items--active {
        margin-left: 20px;
    }
    &__links {
        color: var(--white-color-800);
        font-size: 12px;
        opacity: .7;
        transition: opacity var(--transition-time) var(--transition-style);
        &:hover,
        &:focus {
            opacity: 1;
        }
    }
    &__note {
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translateX(-50%);
        font-size: .6rem;
        opacity: .6;
    }
}

///////
///
//media queries
///
///////
@media only screen and (min-width:530px) {
    .subjects {
        grid-template-columns: 500px;
        grid-auto-rows: 300px;
        &__subject {
            padding: 1.5rem 2.5rem;
        }
        &__heading {
            margin-bottom: 2.5rem;
        }
        &__long-text {
            width: 420px;
            height: 90px;
            margin-bottom: 2.5rem;
        }
        &__notes-button {
            margin: 0;
            margin-right: 20px;
        }
    }
}

@media only screen and (min-width:1000px) {
    .subjects {
        padding: 2rem;
        grid-template-columns: repeat(3, 300px);
        grid-gap: 1rem;
        grid-auto-rows: 500px;
        justify-content: space-between;
        &__subject {
            padding: 1.5rem 0rem 1.5rem 3rem;
        }
        &__heading {
            margin-bottom: 50px;
        }
        &__long-text {
            width: 200px;
            height: 205px;
            margin-bottom: 50px;
        }
        &__notes-button {
            margin: 0;
            margin-bottom: 20px;
        }
    }
}

@media only screen and (min-width:1400px) {
    html {
        display: flex;
        justify-content: center;
    }
    body {
        max-width: 1400px;
    }
}